.head{
    color: red;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

body{
    color : blue;
}

.container{
    padding: 20px;
}

.first{
    width: 500px;
    display: inline-block;
    border-color: black;
    border-style: dotted;
    padding: 10px;
    background: #ffff00;
    border-radius: 1rem;
}

.second{
    width: 500px;
    display: inline-block;
    border-color: blue;
    border-style: double;
    padding: 10px;
    background: #ffff00;
    border-radius: 1rem;
}
