body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #81bc60;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background: #fff;
    padding: 29px;
    border-radius: 5px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  
  .login-form input {
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
    padding: 10px;
    border: none;
    font-size: 16px;
    background: #f2f2f2;
  }
  
  .button {
    width: 420px;
    height: 60px;
    padding: 10px;
    border: none;
    background-color: #53af52;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .login-form button:hover {
    background-color: green;
  }
  
  .login-form p {
    margin-top: 10px;
    font-size: 14px;
    color: #b3aeae;
    text-align: center;
  }
  
  .login-form p a {
    color: #53af52;
    text-decoration: none;
  }
  
  .login-form p a:hover {
    text-decoration: underline;
  }
  